<p id="notice"><%= notice %></p>

<p>
  <b>From this location:</b>
  <%= @location.address %>
</p>


<h3>Here are the 10 closest coffee shops in your area:</h3>


<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
       #map-canvas {
        height: 500px;
        width: 1000px;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script>
var map;
var infowindow;



function initialize() {

var startingPoint = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);

  map = new google.maps.Map(document.getElementById('map-canvas'), {
    center: startingPoint,
    zoom: 15
  });

  var request = {
    location: startingPoint,
    types: ['cafe'],
    rankBy: google.maps.places.RankBy.DISTANCE
  };
  infowindow = new google.maps.InfoWindow();
  var service = new google.maps.places.PlacesService(map);
  service.nearbySearch(request, callback);
}

function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < 10; i++) {
      createMarker(results[i]);
    }
  }
}

function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>


  <%= link_to 'Change Address', edit_location_path(@location) %>
